Flask==3.0.3
Flask-SQLAlchemy==3.1.1
psycopg[binary]
psycopg2-binary
gunicorn==22.0.0
flask-cors==4.0.1
python-dotenv==1.0.1
Werkzeug==3.0.3
email-validator==2.2.0
Flask-Migrate==4.0.7
Flask-CORS==4.0.1
Flask-JWT-Extended==4.6.0